PORT=4174
PUBLIC_SITE_URL=http://127.0.0.1:4174
PUBLIC_API_URL=http://127.0.0.1:4174
AI_COUNCIL_MODE=demo
SITE_MODE=local
COOKIE_SECURE=false
CORS_ORIGIN=
STRIPE_SECRET_KEY=
STRIPE_PRICE_PRO_399=
GA4_CLIENT_ID=
GA4_CLIENT_SECRET=
GOOGLE_ADS_CLIENT_ID=
GOOGLE_ADS_CLIENT_SECRET=
YANDEX_DIRECT_CLIENT_ID=
YANDEX_DIRECT_CLIENT_SECRET=
VK_CLIENT_ID=
VK_CLIENT_SECRET=
